@font-face {
  font-family: Helvetica;
  src: url(fonts/HelveticaNeueCyr-Medium.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Helvetica;
  src: url(fonts/HelveticaNeueCyr-Roman.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Helvetica;
  src: url(fonts/HelveticaNeueCyr-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Helvetica;
  src: url(fonts/HelveticaNeueCyr-Thin.ttf);
  font-style: normal;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
}

.first-container {
  background: url("img/mainpic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 45%;
  position: relative;
  z-index: 0;
  height: 90%;
}

.first-container__gradient {
  background: linear-gradient(
    89.37deg,
    #000000 15.49%,
    rgba(0, 0, 0, 0.1) 48.34%
  );
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

header {
  padding: 25px 111px 25px 111px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  background: linear-gradient(
      180deg,
      rgba(5, 5, 5, 0.54) 18.75%,
      rgba(7, 9, 12, 0) 85.42%
    )
    no-repeat;
  /* height: 85px; */
  width: 100%;
}

.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 35px;
  background: #939393;
  border-radius: 4px;
  align-items: center;
  color: #525252;
}

.header__menu {
  color: #eaeaea;
  display: flex;
}

.menu-header {
  display: flex;
  list-style: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.menu-header__item {
  margin-right: 41px;
  cursor: pointer;
}

.menu-header__item:last-child {
  margin: 0;
  color: rgba(234, 234, 234, 0.6);
}

.menu-header__item:hover {
  color: #2b8c4f;
  opacity: 0.8;
}

.item__img {
  margin-left: 7px;
}

.first-section__sub-header {
  padding: 111px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.first-section__header {
  font-size: 48px;
  margin: 0;
  opacity: 0.8;
  color: #ffffff;
  line-height: 54px;
}

.first-section__description {
  font-size: 126px;
  line-height: 102px;
  color: #ffffff;
  margin-top: 4px;
}

.first-section__information {
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
  opacity: 0.7;
  margin-top: 60px;
}

.second-section__clients {
  padding: 111px;
}

h1 {
  font-size: 48px;
  line-height: 56px;
  color: #212121;
  font-weight: 500;
}

.logo-list {
  margin-top: 77px;
}

.logo-list__first-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.logo-list__second-row {
  display: flex;
  justify-content: space-between;
}

.client__logo {
  width: 140px;
  height: 40px;
}

.third-section__we-offer {
  padding: 111px;
  width: 100%;
  height: 100%;
  margin: 0;
}

.we-offer__first-row {
  display: flex;
  width: 100%;
  margin-top: 55px;
  height: 100%;
}

.card__green-lable {
  position: absolute;
  width: 9px;
  height: 100px;
  background: linear-gradient(324.96deg, #2b8c6a 5.57%, #2b8c4f 104.26%);
  border-radius: 3px 0px 0px 3px;
  top: 20px;
  left: -9px;
}

.first-card__lines {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.second-card__lines {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 0;
}

.card__text {
  line-height: 38px;
  font-weight: 700;
  font-size: 34px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.card__text + .card__text {
  margin-top: 25px;
}

.card__text:hover {
  opacity: 0.8;
  color: #2b8c4f;
}

.first-row__first-card {
  background: #f2f2f2;
  border-radius: 3px;
  display: flex;
  position: relative;
  width: 35%;
}

.first-card__side-label {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: rgba(33, 33, 33, 0.7);
  transform: rotate(-90deg);
  position: absolute;
  bottom: 60px;
}

.first-row__second-card {
  background: #f2f2f2;
  border-radius: 3px;
  display: flex;
  position: relative;
  width: 65%;
  margin-left: 27px;
}

.second-card__side-label {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: rgba(33, 33, 33, 0.7);
  transform: rotate(-90deg);
  position: absolute;
  bottom: 80px;
  right: 20px;
}

.second-row__third-card {
  background: #f2f2f2;
  border-radius: 3px;
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 27px;
}

.card-content {
  width: 100%;
  display: flex;
  z-index: 3;
  padding: 50px 30px 40px 40px;
}

.third-card__side-label {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: rgba(33, 33, 33, 0.7);
  transform: rotate(-90deg);
  position: absolute;
  bottom: 60px;
  right: 30px;
}

.third-card__lines {
  position: absolute;
  top: 0px;
  overflow: hidden;
  width: 100%;
  left: 0;
  height: 100%;
  z-index: 1;
}

.third-card__left-lines {
  position: absolute;
  left: 90px;
}

.third-card__right-lines {
  position: absolute;
  right: -45px;
  z-index: 1;
}

.third-card__content {
  margin-right: 50px;
}

.fourth-section__about-us {
  background: #fafafa;
  width: 100%;
  padding: 111px 111px 135px 111px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
}

.about-us__number {
  font-weight: 400;
  font-size: 86px;
  color: #2b8c6a;
}

.about-us__text {
  font-weight: normal;
  font-size: 20px;
  color: #646464;
}

.fifth-section__our-projects {
  width: 100%;
  padding: 111px 111px 135px 111px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.our-projects__top-posters {
  margin-top: 55px;
  display: flex;
  width: 100%;
  margin-bottom: 25px;
}

.top-posters__left-side {
  position: relative;
  background: url("img/image\ 158.png") no-repeat;
  background-position: 70% 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
  padding: 40px 40px 100px 40px;
  height: 629px;
  cursor: pointer;
}

.top-posters__left-side:hover {
  opacity: 0.8;
}

.poster__design {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: rgba(22, 22, 22, 0.4);
  top: 0px;
  left: 0px;
}

.design__green-arrow {
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 8;
  bottom: 42px;
  right: 42px;
  cursor: pointer;
}

.design__white-arrow {
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 8;
  bottom: 42px;
  right: 42px;
  cursor: pointer;
}

.poster__green-text {
  display: flex;
  align-items: center;
  background: #2b8c4f;
  border-radius: 3px;
  position: absolute;
  width: 114px;
  height: 36px;
  justify-content: center;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  z-index: 1;
}

.poster__main-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

.poster__main-text:hover {
  opacity: 0.8;
}

.right-side__top-poster {
  position: relative;
  background: url("img/image\ 160.png") no-repeat;
  background-size: cover;
  height: 302px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
  padding: 40px 40px 40px 40px;
  cursor: pointer;
}

.right-side__top-poster:hover {
  opacity: 0.8;
}

.right-side__middle-poster {
  position: relative;
  background: url("img/image\ 159.png") no-repeat;
  background-size: cover;
  height: 302px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
  padding: 40px 40px 40px 40px;
  margin-top: 25px;
  cursor: pointer;
}

.right-side__middle-poster:hover {
  opacity: 0.8;
}

.top-posters__right-side {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 25px;
}

.our-projects__bottom-posters {
  display: flex;
  width: 100%;
}

.bottom-posters__left-side {
  position: relative;
  background: url("img/image\ 157.png") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
  padding: 40px 40px 40px 40px;
  margin-right: 25px;
  height: 302px;
  width: 70%;
  cursor: pointer;
}

.bottom-posters__left-side:hover {
  opacity: 0.8;
}

.bottom-posters__green-poster {
  height: 302px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 0;
  padding: 40px 40px 40px 40px;
  background: linear-gradient(324.96deg, #2b8c6a 5.57%, #2b8c4f 104.26%);
  border-radius: 3px;
  font-weight: 500;
  font-size: 34px;
  line-height: 38px;
  color: #ffffff;
  width: 30%;
  cursor: pointer;
}

.bottom-posters__green-poster:hover {
  opacity: 0.8;
}

.sixth-section__interview {
  width: 100%;
  height: 100%;
  background: #fafafa;
  padding: 111px;
  position: relative;
}

.sixth-section__lines {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.interview__main-content {
  display: flex;
  justify-content: space-between;
}

.main-content__text {
  font-size: 28px;
  line-height: 48px;
  color: #212121;
  margin-bottom: 50px;
}

.main-content__name {
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  color: #212121;
  margin-bottom: 8px;
}

.main-content__post {
  font-size: 18px;
  line-height: 16px;
  color: #8e8e8e;
}

.section__carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 81px;
}

.carousel__greendot {
  margin-right: 24px;
  cursor: pointer;
}

.carousel__emptydot {
  margin-right: 24px;
  cursor: pointer;
}

.carousel__emptydot:last-child {
  margin: 0;
}

.sixth-section__green-window {
  height: 150px;
  width: 100%;
  background: linear-gradient(324.96deg, #2b8c6a 5.57%, #2b8c4f 104.26%);
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  margin-top: 114px;
  padding: 40px 50px 40px 50px;
  align-items: center;
}

.green-window__question {
  font-weight: 500;
  font-size: 34px;
  line-height: 34px;
  color: #ffffff;
  margin-bottom: 14px;
}

.green-window__description {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);
}

.green-window__button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 13px 30px;
  width: 222px;
  height: 54px;
  background: #ffffff;
  border-radius: 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #2b8c64;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.green-window__button:hover {
  opacity: 0.8;
}

.seventh-section__solutions {
  height: 100%;
  width: 100%;
  padding: 111px;
}

.solutions-cards {
  display: flex;
  margin-top: 55px;
}

.left-card {
  position: relative;
  background: url("img/Frame\ 551.png") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 0;
  padding: 0px 40px 30px 30px;
  width: 33%;
  height: 478px;
  cursor: pointer;
}

.left-card:hover {
  opacity: 0.8;
}

.card__gradient {
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 32.95%, #000000 95.46%);
  border-radius: 3px;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.middle-card {
  position: relative;
  background: url("img/Frame\ 552.png") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 0;
  padding: 0px 40px 30px 30px;
  width: 33%;
  height: 478px;
  margin-right: 30px;
  margin-left: 30px;
  cursor: pointer;
}

.middle-card:hover {
  opacity: 0.8;
}

.right-card {
  position: relative;
  background: url("img/Frame\ 553.png") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 0;
  padding: 0px 40px 30px 30px;
  width: 33%;
  height: 478px;
  cursor: pointer;
}

.right-card:hover {
  opacity: 0.8;
}

.card-text {
  z-index: 5;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 27px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
  font-size: 20px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.eigths-section__awards {
  height: 100%;
  width: 100%;
  padding: 70px 185px 165px 111px;
}

.ninth-section__offer {
  padding: 111px 111px 160px 111px;
  width: 100%;
  height: 100%;
  background: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.ninth-section__text {
  height: 100%;
}

.text__tell-us {
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  color: #646464;
  margin-top: 20px;
  margin-bottom: 52px;
}

.text__contacts {
  display: flex;
}

.phone__call-us {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
  font-style: normal;
  font-weight: 500;
}

.text__countries {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #646464;
}

.countries__phone {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #2b8c4f;
  margin-left: 26px;
  cursor: pointer;
  text-decoration: none;
}

.contacts__phone {
  display: flex;
}

.contacts__email {
  margin-left: 83px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.countries-email {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #2b8c4f;
  cursor: pointer;
  text-decoration: none;
}

.ninth-section__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  position: relative;
  z-index: 1;
}

.form__action {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #212121;
  margin-bottom: 30px;
}

.form__questions {
  list-style: none;
  padding: 0;
  width: 100%;
}

.item__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #212121;
  margin-bottom: 7px;
  width: 100%;
}

.item__last-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #212121;
  margin-bottom: 60px;
}

.item__space {
  background: none;
  margin-bottom: 30px;
  border: 0;
  border-bottom: 1px solid #c4c4c4;
  width: 100%;
  padding-bottom: 9px;
  outline: none;
}

.form__feedback {
  display: flex;
  width: 100%;
  align-items: center;
}

.green-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 230px;
  height: 40px;
  background: #2b8c4f;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin-right: 28px;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: margin-left 4s;
}

.green-button:hover {
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.8;
}

.feedback-info {
  font-size: 12px;
  line-height: 16px;
  color: #b3b3b3;
}

.ninth-section__lines {
  position: absolute;
  left: 0px;
  bottom: 30px;
  z-index: 0;
}

footer {
  width: 100%;
  height: 100%;
  padding: 111px 111px 50px 111px;
  background: #f0f0f0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.footer__left-info {
  height: 100%;
  width: 100%;
}

.left-info__logo {
  width: 100px;
  height: 35px;
  background: #dcdcdc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 34px;
  font-size: 16px;
  line-height: 19px;
  color: #525252;
}

.left-info__networks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logos__social {
  margin-right: 24px;
}

.last-logos__social {
  margin: 0;
}

.networks__years {
  position: absolute;
  bottom: 50px;
  left: 111px;
  font-size: 14px;
  line-height: 24px;
  color: rgba(33, 33, 33, 0.6);
}

.footer__right-menu {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.right-menu__elements {
  display: flex;
  justify-content: space-between;
}

.right-menu__bottom-elements {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.row__main-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba(33, 33, 33, 0.9);
  margin-bottom: 16px;
  cursor: pointer;
}

.row__main-link:hover {
  opacity: 0.8;
  color: #2b8c4f;
}

.elements__projects {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba(33, 33, 33, 0.9);
  margin-bottom: 30px;
  cursor: pointer;
}

.elements__projects:hover {
  opacity: 0.8;
  color: #2b8c4f;
}

.elements__contacts {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba(33, 33, 33, 0.9);
  margin-bottom: 111px;
  cursor: pointer;
}

.elements__contacts:hover {
  opacity: 0.8;
  color: #2b8c4f;
}

.row__second-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  color: rgba(33, 33, 33, 0.6);
  margin-bottom: 10px;
  cursor: pointer;
}

.row__second-link:hover {
  opacity: 0.8;
  color: #2b8c4f;
}

.elements-row {
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 1024px) {
  .third-card__content + .third-card__content {
    margin-top: 25px;
  }

  .first-container {
    background-position: 85%;
  }

  .first-container__gradient {
    background: linear-gradient(
      89.37deg,
      #000000 15.49%,
      rgba(0, 0, 0, 0.55) 48.34%
    );
  }

  header {
    padding: 30px;
    background: linear-gradient(
        180deg,
        rgba(5, 5, 5, 0.54) 18.75%,
        rgba(7, 9, 12, 0) 85.42%
      )
      no-repeat;
    align-items: unset;
    font-size: 20px;
  }

  .menu-header {
    flex-direction: column;
    align-items: flex-end;
  }

  .menu-header__item {
    margin: 5px 0px;
  }

  .item__img {
    display: none;
  }

  .first-section__sub-header {
    padding: 30px;
    flex-direction: column;
  }

  .first-section__header {
    font-size: 28px;
    line-height: 18px;
  }

  .first-section__description {
    font-size: 56px;
    line-height: 40px;
    margin-top: 14px;
  }

  .first-section__information {
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
  }

  .second-section__clients {
    padding: 30px;
  }

  h1 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 500;
  }

  .logo-list {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-list__first-row {
    flex-direction: column;
    margin: 0;
  }

  .logo-list__second-row {
    flex-direction: column;
  }

  .client__logo {
    width: 100px;
    height: 40px;
    margin-top: 22px;
  }

  .third-section__we-offer {
    padding: 30px;
  }

  .we-offer__first-row {
    flex-direction: column;
    margin-top: 25px;
    height: 100%;
  }

  .first-card__lines {
    overflow: hidden;
    right: 0;
    bottom: 0;
    top: 0;
  }

  .second-card__lines {
    top: 35px;
    left: 0px;
    overflow: hidden;
    width: 100%;
  }

  .card__text {
    line-height: 20px;
    font-weight: 700;
    font-size: 18px;
  }

  .first-row__first-card {
    margin: 0px;
    width: 100%;
  }

  .card-content {
    flex-direction: column;
    padding: 14px 24px;
  }

  .first-card__content {
    padding: 14px 24px;
  }

  .first-card__side-label {
    right: 0;
    bottom: 30px;
  }

  .first-row__second-card {
    margin-top: 20px;
    width: 100%;
    margin-left: 0;
  }

  .second-card__content {
    padding: 10px;
  }

  .second-card__side-label {
    right: -18px;
    bottom: 53px;
  }

  .second-row__third-card {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .third-card__side-label {
    bottom: 40px;
    right: -20px;
  }

  .third-card-lines {
    position: absolute;
    top: 0px;
    overflow: hidden;
    width: 100%;
    left: 0;
    height: 100%;
  }

  .third-card__left-lines {
    height: 100%;
    left: 10px;
    z-index: 0;
  }

  .fourth-section__about-us {
    padding: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-us__element {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-us__number {
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }

  .about-us__text {
    text-align: center;
  }

  .about-us__element:last-child {
    margin-bottom: 0;
  }

  .fifth-section__our-projects {
    padding: 30px;
  }

  .our-projects__top-posters {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 25px;
  }

  .top-posters__left-side {
    padding: 24px;
    height: 315px;
    background-size: cover;
    background-position: 10% 30%;
    margin-bottom: 20px;
  }

  .right-side__top-poster {
    padding: 24px;
    height: 315px;
    background-size: cover;
    background-position: 10% 30%;
  }

  .right-side__middle-poster {
    padding: 24px;
    height: 315px;
    background-size: cover;
    background-position: 10% 30%;
  }

  .top-posters__right-side {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .design__green-arrow {
    bottom: 24px;
    right: 24px;
  }

  .design__white-arrow {
    display: none;
  }

  .our-projects__bottom-posters {
    flex-direction: column;
  }

  .bottom-posters__left-side {
    padding: 24px;
    height: 315px;
    background-size: cover;
    background-position: 10% 30%;
    width: 100%;
  }

  .bottom-posters__green-poster {
    width: 100%;
    padding: 24px;
    margin-top: 20px;
    text-align: center;
    height: 25%;
  }

  .green-poster__text {
    font-size: 18px;
  }

  .sixth-section__interview {
    width: 100%;
    height: 100%;
    background: #fafafa;
    padding: 30px;
    position: relative;
  }

  .sixth-section__lines {
    display: none;
  }

  .interview__main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .main-content__text {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: center;
  }

  .main-content__name {
    text-align: center;
    font-size: 16px;
  }

  .main-content__post {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
  }

  .main-content__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
  }

  .photo__main-hero {
    width: 75%;
  }

  .section__carousel {
    margin-top: 40px;
  }

  .sixth-section__green-window {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    padding: 30px;
    align-items: center;
    margin-bottom: 30px;
  }

  .green-window__question {
    font-size: 20px;
    text-align: center;
  }

  .green-window__description {
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px;
  }

  .seventh-section__solutions {
    height: 100%;
    width: 100%;
    padding: 30px;
  }

  .solutions-cards {
    flex-direction: column;
    margin-top: 30px;
  }

  .left-card {
    padding: 30px;
    width: 100%;
    background-position: center;
    height: 250px;
  }

  .middle-card {
    margin: 20px 0 20px 0;
    padding: 30px;
    width: 100%;
    background-position: center;
    height: 250px;
  }

  .right-card {
    padding: 30px;
    width: 100%;
    background-position: center;
    height: 250px;
  }

  .eigths-section__awards {
    height: 100%;
    width: 100%;
    padding: 30px;
  }

  .logo-list {
    margin-top: 30px;
  }

  .ninth-section__offer {
    padding: 30px;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  .ninth-section__text {
    height: 100%;
    text-align: center;
  }

  .text__tell-us {
    margin-bottom: 30px;
    font-size: 18px;
    text-align: center;
  }

  .text__contacts {
    display: flex;
    justify-content: space-around;
  }

  .phone__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .phone__call-us {
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
  }

  .text__countries {
    font-size: 14px;
  }

  .countries__phone {
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .contacts__phone {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .contacts__email {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    margin: 0;
  }

  .countries-email {
    font-size: 14px;
  }

  .form__action {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .item__name {
    font-size: 14px;
  }

  .item__last-name {
    font-size: 16px;
  }

  .item__space {
    font-size: 14px;
  }

  footer {
    padding: 30px;
    flex-direction: column;
  }

  .footer__left-info {
    height: 100%;
    width: 100%;
  }

  .left-info__logo {
    margin-bottom: 30px;
  }

  .left-info__networks {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }

  .logos__social {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .last-logos__social {
    margin-bottom: 20px;
  }

  .networks__years {
    bottom: 25px;
    left: 25px;
  }

  .footer__left-info {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__right-menu {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    flex-direction: row;
  }

  .right-menu__elements {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    flex-direction: column;
  }

  .right-menu__bottom-elements {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    flex-direction: column;
    text-align: end;
  }

  .row__main-link {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .elements__projects {
    font-size: 14px;
  }

  .elements__contacts {
    font-size: 14px;
  }

  .row__second-link {
    font-size: 14px;
    margin-bottom: 8px;
  }
}
