body {
  width: auto;
  
}

* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: Helvetica;
  src: url(fonts/HelveticaNeueCyr-Medium.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Helvetica;
  src: url(fonts/HelveticaNeueCyr-Roman.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Helvetica;
  src: url(fonts/HelveticaNeueCyr-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Helvetica;
  src: url(fonts/HelveticaNeueCyr-Thin.ttf);
  font-style: normal;
  font-weight: 400;
}

.header__maincontent {
  display: flex;
  flex-direction: column;
  background-image: url("img/mainpic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  width: 100%;
  height: 100%;
  position: relative;
}

.header__maincontent__gradient {
  background: linear-gradient(
    89.37deg,
    #000000 15.49%,
    rgba(0, 0, 0, 0.1) 48.34%
  );
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

.header__topcontent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background: linear-gradient(
      180deg,
      rgba(5, 5, 5, 0.54) 18.75%,
      rgba(7, 9, 12, 0) 85.42%
    )
    no-repeat;
  height: 85px;
  width: 100%;
  z-index: 1;
}

.header__topcontent__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 35px;
  background: #939393;
  border-radius: 4px;
  align-items: center;
  color: #525252;
  margin: 23px 0px 23px 111px;
}

.header__topcontent__menu {
  display: flex;
  color: #eaeaea;
  margin: 23px 111px 23px 0px;
}

.header__topcontent__ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.topcontent__li {
  margin-right: 41px;
}

.topcontent__li__last {
  margin: 0;
  color: rgba(234, 234, 234, 0.6);
}

.header__content__maintext {
  margin-left: 111px;
  width: 50%;
  height: 100%;
  color: #ffffff;
  z-index: 3;
}

.maintext__firststring {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  margin: 0;
  opacity: 0.8;
}

.maintext__secondstring {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 126px;
  margin-bottom: 60px;
  margin-top: 4px;
}

.maintext__thirdstring {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  opacity: 0.7;
  margin-bottom: 116px;
}

.header__secondcontent {
  width: 100%;
  height: 50%;
  background-color: white;
  margin: 0;
}

.secondcontent__text {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  margin: 111px 111px 75px 111px;
}

.secondcontent__logos {
  margin: 80px 111px 111px 111px;
}

.logos__firstrow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.logos__secondrow {
  display: flex;
  justify-content: space-between;
}

.company__logo {
  width: 140px;
  height: 40px;
}

.header__thirdcontent {
  width: 100%;
  height: 50%;
  background-color: white;
  margin: 0;
  padding: 111px;
}

.thirdcontent__text {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  margin-bottom: 55px;
}

.thirdcontent__containers {
  display: flex;
  width: 100%;
}

.container__greenlable{
  position: absolute;
  width: 9px;
  height: 100px;
  background: linear-gradient(324.96deg, #2B8C6A 5.57%, #2B8C4F 104.26%);
border-radius: 3px 0px 0px 3px;
top: 20px;
left: -9px;
}

.container__text {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 25px;
}

.thirdcontent__container__first {
  background: #F2F2F2;
border-radius: 3px;
margin-right: 27px;
margin-bottom: 27px;
padding: 50px 87px 40px 40px;
position: relative;
width: 35%;
}

.container__first__sidetext {
  color: rgba(33, 33, 33, 0.7);
transform: rotate(-90deg);
font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  position: absolute;
}

.thirdcontent__container__second {
  background: #F2F2F2;
  border-radius: 3px;
  margin-bottom: 27px;
  padding: 50px 30px 40px 40px;
  position: relative;
  width: 65%;
}

.container__second__sidetext {
  color: rgba(33, 33, 33, 0.7);
transform: rotate(-90deg);
font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  position: absolute;
}


.thirdcontent__container__third {
  background: #F2F2F2;
  border-radius: 3px;
  display: flex;
  padding: 50px 30px 40px 40px;
  position: relative;
  width: 100%;
}

.container__third__sidetext {
  color: rgba(33, 33, 33, 0.7);
transform: rotate(-90deg);
font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  position: absolute;
}


.container__third__line {
  margin-right: 50px;
}

.header__fourthcontent {
  background: #FAFAFA;
  width: 100%;
  padding: 111px 111px 135px 111px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Helvetica;
  font-style: normal;
}

.header__fourthcontent__number {
  font-weight: 400;
  font-size: 86px;
  color: #2B8C6A;
}

.fourthcontent__text__text {
  font-weight: normal;
font-size: 20px;
color: #646464;
}

.header__fifthcontent{
  width: 100%;
  padding: 111px;
}

.header__fifthcontent__text{
  font-family: Helvetica;
  font-style: normal;
color: #212121;
font-size: 48px;
}